<?xml version="1.0"?>
<launch>
  <arg name="ns" default="ugv1"/>
  <arg name="model_name" default="$(arg ns)"/>
  <arg name="drive_model" default="high_fidelity"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="v_front_max_m_s" default="1.5"/>
  <arg name="v_left_max_m_s" default="1.5"/>
  <arg name="omega_max_deg_s" default="90.0"/>
  <arg name="linear_vel_scale" default="1.0"/>
  <arg name="angular_vel_scale" default="1.0"/>
  <arg name="use_imu_orientation" default="false"/>
  <arg name="state_publish_rate" default="100.0"/>
  <arg name="visualize_max_freq" default="20.0"/>
  <arg name="plugin_filename" default="libgazebo_sim_mecanum_contract.so"/>
  <arg name="mesh_prefix" default="model://mecanum_description/meshes"/>

  <group ns="$(arg ns)">
    <param name="v_front_max_m_s" value="$(arg v_front_max_m_s)"/>
    <param name="v_left_max_m_s" value="$(arg v_left_max_m_s)"/>
    <param name="omega_max_deg_s" value="$(arg omega_max_deg_s)"/>
    <param name="linear_vel_scale" value="$(arg linear_vel_scale)"/>
    <param name="angular_vel_scale" value="$(arg angular_vel_scale)"/>
    <param name="use_imu_orientation" value="$(arg use_imu_orientation)"/>
    <param name="state_publish_rate" value="$(arg state_publish_rate)"/>
    <param name="visualize_max_freq" value="$(arg visualize_max_freq)"/>
  </group>

  <param name="/$(arg ns)/gazebo_model_sdf"
         command="$(find xacro)/xacro $(dirname)/../models/xgc2_mecanum_ugv/model.sdf.xacro robot_namespace:=$(arg ns) drive_model:=$(arg drive_model) plugin_filename:=$(arg plugin_filename) mesh_prefix:=$(arg mesh_prefix)"/>
  <node pkg="gazebo_ros" type="spawn_model"
        name="spawn_$(arg model_name)" output="screen"
        launch-prefix="flock -x /tmp/xgc2-gazebo-spawn.lock"
        args="-sdf -param /$(arg ns)/gazebo_model_sdf
              -model $(arg model_name)
              -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)"/>
  <group ns="$(arg ns)">
    <node pkg="gazebo_sim_mecanum" type="model_lifecycle.py"
          name="model_lifecycle" output="screen"/>
  </group>
</launch>
